<form [formGroup]="formFiscalia">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="fiscaliaName">Nombre de Fiscalia</mat-label>
    <input
      type="text"
      matInput
      formControlName="fiscaliaName"
      [(ngModel)]="fiscaliaClass.directoryName"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="addresLine">Direccion</mat-label>
    <input
      type="text"
      matInput
      formControlName="addresLine"
      [(ngModel)]="fiscaliaClass.addressLine"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="zone">Zona</mat-label>
    <input
      type="text"
      matInput
      formControlName="zone"
      [(ngModel)]="fiscaliaClass.zone"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="city">Ciudad</mat-label>
    <input
      type="text"
      matInput
      formControlName="city"
      [(ngModel)]="fiscaliaClass.city"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="state">Municipio</mat-label>
    <input
      type="text"
      matInput
      formControlName="state"
      [(ngModel)]="fiscaliaClass.state"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="country">Pais</mat-label>
    <input
      type="text"
      matInput
      formControlName="country"
      [(ngModel)]="fiscaliaClass.country"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="phone">Celular</mat-label>
    <input
      type="number"
      matInput
      formControlName="phone"
      [(ngModel)]="fiscaliaClass.phone"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="phone2">Fax</mat-label>
    <input
      type="number"
      matInput
      formControlName="phone2"
      [(ngModel)]="fiscaliaClass.phone2"
    />
  </mat-form-field>
  <button *ngIf="!isUpdate" mat-raised-button color="primary" (click)="save()">
    Guardar
  </button>
  <button
    *ngIf="isUpdate"
    mat-raised-button
    color="accent"
    (click)="update(fiscaliaClass.directoryId)"
  >
    Actualizar
  </button>
</form>
